body{
    margin: 0%;
    padding: 0%;
    background-image: url(../Images/background-login-sundown-beach.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    flex-direction: column;
    display: flex;

}

.text{
    color: white;
    font-family: sans-serif;

}


#container{

    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    border: 2px solid white;
    width: 50%;
    margin: 15px;
    border-radius: 5px;
    background: transparent;
    backdrop-filter: blur(15px);

    


}


#loginTitle{
    z-index: 5000;
    color: white;

}

